@font-face {
  font-family: Iansui;
  src: url(../Fonts/Iansui/Iansui-Regular.ttf);
}

@font-face {
  font-family: 'luckiest guy';
  src: url(../Fonts/luckiest-guy/LuckiestGuy-Regular.ttf);
}

@font-face {
  font-family: rock-salt;
  src: url("../Fonts/rock-salt/RockSalt-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: rgb(238, 238, 238);
  background-size: cover;
  font-family: Iansui;
  font-size: 16px;
  font-weight: 600;
}

main {
  position: relative;
  margin: 0 20px;
}

.emoji {
  width: 60px;
}


h3,
h2 {
  font-weight: 800;
  text-shadow: 3px 3px 5px;
  margin-top: 5%;
  margin-bottom: 5vh;
}

h3 {
  justify-self: center;
  text-align: center;
}



#intro-title {
  color: white;
  font-family: 'luckiest guy';
  letter-spacing: -1px;
  text-shadow: 3px 3px 5px hsl(152, 69%, 31%);
  -webkit-text-stroke: 2px #ff3131;
  font-stretch: ultra-expanded;
  text-align: center;
  font-size: clamp(1.8em, 5vw, 6em);
  margin: 3%;
}

.logo img {
  height: 50px;
  position: absolute;
  right: 2%;
  top: 14%;
}

#loader-backdrop {
  width: 100vw;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 54, 54, 0.8);
  z-index: 100;
}

#loader-backdrop img {
  width: 40vw;
  border-radius: 50px;
  position: relative;
  align-self: center;
  z-index: 50;
}

#loader-backdrop h4 {
  z-index: 100;
  font-weight: 600;
  position: absolute;
  text-align: center;
  text-justify: center;
  width: 200px;
  height: 50px;
  bottom: 20vh;
  border-radius: 50%;
  background-color: rgb(168, 244, 252);
  border: 2px solid rgb(192, 0, 0);
  color: rgb(25, 97, 25);
}

header {
  background-image: linear-gradient(45deg, hsl(152, 69%, 31%), white, red);
  text-align: center;
  margin: 0px;
  padding: 20px;
  border: 0px;
  border-bottom: 2px solid rgb(25, 97, 25);
  display: flexbox;
  z-index: 10;
  position: sticky;
  top: 0;
}

.head-button {
  background-color: hsl(354, 70%, 54%);
  color: white;
  height: 30px;
  width: 130px;
  border-radius: 25px;
  border: 2px solid hsl(152, 69%, 31%);
  text-align: center;
  margin: 4px;
  box-shadow: 3px 3px 5px rgb(58, 58, 58);
  transition-duration: 200ms;
}

.head-button:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
  
  transform: scale(1.2);
}

.head-button:active {
  background-color: hsl(152, 69%, 31%);
  border-color: red;
  color: white;
  transform: scale(0.9);
}

#head-buttons-div {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0%;
}

.nav-links {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 34px;
}

.bar {
  flex-basis: 100%;
  height: 4px;
  background-color: black;
  margin: 3px;
  border-radius: 2px;
}

#header-headline {
  font-size: 48px;
  position: relative;
  justify-self: center;
  font-weight: 800;
  text-shadow: 3px 3px 5px;
}

.link-fix {
  display: contents;
}

#prenota,
#galleria-div,
#libro-div,
#recensioni,
#contatti:target {
  scroll-margin-top: 4em;
}

iframe {
  display: block;
  position: relative;
  top: 2vh;
  justify-self: center;
  border-radius: 20px;
  box-shadow: 4px 4px 10px;
  height: 50vh;
  width: 50vw;
}

.picture-std {
  width: 400px;
  border-radius: 50px;
  box-shadow: 5px 5px 7px rgb(58, 58, 58);
  margin: 2% 5%;
  transition: all 100ms ease-in-out;
}

.picture-std:hover {
  transform: scale(110%);
  transition: all 200ms ease-in-out;
}

#colloseo {
  float: right;
  border: 1px solid green;
  filter: brightness(0.75) contrast(1.4) saturate(1.3);
}

#val-photo {
  float: left;
  border: 1px solid red;
  filter: brightness(0.75) contrast(1.4) saturate(1.3);
}

.carousel-inner {
  border-radius: 20px;
}

.carousel-item {
  background-color: rgba(0, 0, 0, 1);
  justify-items: center;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}

.carousel-item:hover {
  img {
    transform: scale(1);
    opacity: 0.3;
    filter: blur(2px);
  }
  transition-duration: 500ms;
}

.carousel-item img {
  transform: scale(1.2);
  opacity: 0.5;
}

.prenota-p {
  justify-self: center;
  width: 60vw;
}

#libro {
  float: left;
  border: 1px solid green;
}

.center-me {
  justify-self: center;
}

.col {
  transition: all 200ms;
}

.col:hover {
  transform: scale(1.1);
  z-index: 100;
}

.col:hover:nth-of-type(3n) {
  transform: translateX(-5%) scale(1.1);
  z-index: 100;
}

.col:hover:nth-of-type(3n - 2) {
  transform: translateX(5%) scale(1.1);
  z-index: 100;
}


#libro-div {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Images/Italy-Pictures/1PolignanoItalyshutterstock_1356233981.avif);
  background-size: cover;
  padding-bottom: 1%;
  border-radius: 20px;
}

#galleria-pics-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.hidden {
  opacity: 0;
  filter: blur(1000px);
  transition: 600ms;
}

.show {
  opacity: 1;
  filter: blur(0);
}

.galleria {
  width: 30%;
  margin: 0.5% 0;
  background-color: white;
  padding: 0.5em 0.5em 0 0.5em ;
  box-shadow: 5px 5px 7px rgb(58, 58, 58);
  border-radius: 5px;
  justify-content: center;
  transition: all 0.5s;
  cursor: pointer;
}
.galleria > p {
  padding: 0.5em;
  transform: rotate(-4deg);
  font-family: rock-salt;
  font-size: 1.8em;
}

.galleria > img {
  width: 100%;
  filter: brightness(0.9) contrast(1.4) saturate(1.3);
}

.clicked-left {
  transform: scale(2.5);
  transform-origin: left center;
  
  z-index: 5;
  position: relative;
}

.clicked-center {
  transform: scale(2.5);
  transform-origin: center center;
  z-index: 5;
  position: relative;
}

.clicked-right {
  transform: scale(2.5);
  transform-origin: right center;
  z-index: 5;
  position: relative;
}


fieldset div {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 15px;
}

#contatti-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}

.contatti-form {
  width: 90%;
}

footer {
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../Images/Italy-Pictures/SPOLETO-PANORAMICA.jpg);
  border-top: 1px solid red;
  background-position: 0 33%;
  background-size: cover;
  color: white;
  font-size: 15px;
  padding: 5% 0px;
}

.foot-icons {
  width: 30px;
  background-color: blue;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
  margin: 0 0.5cap;
}
.foot-icons:hover {
  transform: scale(1.3);
  transition: all 200ms ease-in-out;
}

.paypal {
  background-color: white;
}

a {
  text-decoration: none;
}



@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
@media (min-width: 1071px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: none;
  }
}

@media (max-width: 1070px) {
  .nav-links {
    display: none;
  }
  #header-headline {
    display: none;
  }
  #head-buttons-div {
    display: none;
  }
  .hamburger {
    display: block;
  }
 
}

@media (max-width: 970px) {
  .logo img {
    display: block;
  }
  #contatti-grid {
    display: block;
  }
  .picture-std {
    width: 300px;
  }
  .prenota-p {
    width: 80vw;
  }
}

@media (max-width: 850px) {
  iframe {
    height: 40vh;
    margin-bottom: 5vh;
  }
  #val-photo,
  #colloseo,
  #libro {
    width: 85vw;
    float: unset;
  }

  #galleria-pics-div {
    display: block;
    justify-items: center;
  }
  .galleria {
    display: block;
    width: 90vw;
    margin: 5% 0;
  }
  #libro-div {
    padding: 5%;
  }
  #libro-div img {
    display: flex;
    justify-self: center;
  }
  .prenota-p {
    width: 95vw;
  }
}
